/* основной div */
.editor-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* ввод кода в левой части */
.code-pane {
    width: 50%;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #333;
}

/* для заголовков панелей */
.pane-header {
    background-color: #252526;
    color: #ccc;
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: 500;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
}

/* поле ввода */
#html-code {
    flex: 1;
    background-color: #1e1e1e;
    color: #d4d4d4;
    border: none;
    resize: none;
    padding: 20px;
    
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    outline: none;
}

/* просмотр в правой части */
.preview-pane {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* окно браузера */
#preview-frame {
    flex: 1;
    width: 100%;
    border: none;
    background-color: white;
}